<% extend("../../admin.ejs") %>
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin">UTDESIGN</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
                <h4 class="page-title"><%= title %></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <% if(errors != ""){%>
        <% errors.forEach((item) => {%>
        <script>toastr.error('<%- item %>', 'Gặp lỗi !')</script>
        <%})%>
        <%}%>
         <% if(success != ""){%>
        <% success.forEach((item) => {%>
        <script>
            toastr.success('<%- item %>', 'Thành công !')
        </script>
        <%})%>
        <%}%>
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card-box">
                <a href="/admin/policy/add-policy" type="button" class="btn btn-teal waves-light waves-effect float-right mb-2"><i class="ion ion-md-add"></i></a>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th> STT </th>
                                <th> Tên chính sách </th>
                                <th> hành động </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% policies.forEach(function(policy, index){ %>
        <tr>
            <th scope="row"><%= index %></th>
            <td class="font-weight-bold">
                <p> <%= policy.policy_name %> </p>
            </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/admin/policy/edit-policy/<%= policy.id %>" class="btn hor-grd btn-grd-warning"
                        title="Sửa chính sách">
                        <i class="icofont icofont-edit"></i>
                    </a>
                    <a href="/admin/policy/delete-policy/<%= policy.id %>"
                        class="delete-slide-confirm btn hor-grd btn-grd-danger" title="Xóa chính sách">
                        <i class="icofont icofont-ui-delete"></i>
                    </a>
                </div>
            </td>
        </tr>
        <% }); %>
        </tbody>
        </table>
    </div>
</div>
</div>
</div>
</div>
<script>
    $('.delete-blog-confirm').on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        $('#delete-blog-link').attr('href', url);
    });
</script>