<% extend("../../admin.ejs") %>

<!-- Start Content-->
<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin"><i class="mdi mdi-home-circle"></i></a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
                <h4 class="page-title"><%= title %></h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <% if(errors != ""){%>
                <% errors.forEach((item) => {%>
                <script>toastr.error('<%- item %>', 'Lỗi !')</script>
                <%})%>
                <%}%>
                <% if(success != ""){%>
                <% success.forEach((item) => {%>
                <script>toastr.success('<%- item %>', 'Thành công !')</script>
                <%})%>
                <%}%>
                <div class="filter-block card-header text-right">
                    <!-- Example split danger button -->
                    <div class="input-group form-search">
                        <span class="input-group-prepend">
                            <button type="button" class="btn btn-teal waves-light waves-effect"><i
                                    class="fas fa-search"></i></button>
                        </span>
                        <input type="text" id="search_value" class="form-control" placeholder="Tìm dự án">
                        <ul class="result_rows">
                        </ul>
                    </div>
                    <script>
                        var string = '';
                        var stringAppend = function (id, sku, image, name, price) {
                            return `<li> <a href="/admin/product/edit-product/${id}">
                                        <div class="main"> 
                                            <div class="left-side">
                                                <img src="/public/uploads/products/${image}"/> 
                                            </div>
                                            <div class="right-side"> 
                                                sku : ${sku} <span> ${name} </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>`;
                        }
                        var stringAppendAdvanced = function (id, 
                        sku, 
                        image, 
                        name, 
                        price, 
                        stock, 
                        quantity) {
                            return `
                                <tr class="item_tr">
                                <td scope="row">${id}</th>
                                <th class="product-image">
                                    <img class="sp_img"
                                        src="/public/uploads/products/${image}" alt="">
                                    <p class="mt-2"><span
                                            class="label label-primary">Sku:</span>&nbsp;${sku}</p>
                                    </td>
                                <td class="font-weight-bold">
                                    <p class="text-break"> ${name} </p>
                                </td>
                                <td class="price-show"> <span class="product-price"> ${price}
                                    </span> <sup> VNĐ </sup>
                                </td>
                                <td>
                                    <label class="label text-center ${stock === 1 ? 'label-success' : 'label-warning'}">
                                        ${stock === 1 ? 'Còn hàng' : 'Hết hàng'}
                                    </label>
                                </td>
                                <td> ${quantity} </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <a href="/admin/product/edit-product/${id}" type="button"
                                            class="btn hor-grd btn-grd-warning " title="Sửa sản phẩm">
                                            <i class="icofont icofont-edit"></i> </a>
                                        <a href="/admin/product/delete-product/${id}" type="button"
                                            class="btn hor-grd btn-grd-danger "> <i class="icofont icofont-ui-delete"
                                                title="Xóa sản phẩm"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            `;
                        }
                        function getSearchData(sku) {
                            string = '';
                            $.ajax({
                                url: '/admin/product/search/' + sku,
                                type: 'GET',
                                success: function (result) {
                                    // cập nhật ngay lập tức avatar trên giao diện
                                    console.log(result.results);
                                    if (result.results.length > 0) {
                                        for (var i = 0; i < result.results.length; i++) {
                                            var image = {};
                                            if (result.results[i].image.length > 0) {
                                                image = JSON.parse(result.results[i].image);
                                            } else {
                                                image = '';
                                            }
                                            string += stringAppendAdvanced(
                                            result.results[i].id,
                                            result.results[i].sku,
                                            image[0],
                                            result.results[i].name,
                                            result.results[i].price,
                                            result.results[i].stock,
                                            result.results[i].quantity)
                                        }
                                        $('#product_table_search').append(string);
                                    } else {
                                        $('#product_table_search').append(`<p class="item_tr"> Không tìm thấy... </p>`);
                                    }
                                },
                                error: function (error) {
                                    toastr.error('Có lỗi xảy ra');
                                    return false;
                                }
                            })
                        }
                        $('#product_table_search').hide();
                        $('#search_value').on('keyup', function () {
                            // $('.result_rows li').remove();
                            // var search_value = $(this).val();
                            // if (search_value == '') {
                            //     $('.result_rows').css('display', 'none');
                            // } else {
                            //     getSearchData(search_value);
                            //     $('.result_rows').css('display', 'block');
                            // }
                            $('#product_table_search .item_tr').remove();
                            var search_value = $(this).val();
                            if (search_value == '') {
                                $('#product_table_search').hide();
                                $('#product_table').show();
                            } else {
                                $('#product_table').hide();
                                $('#product_table_search').show();
                                getSearchData(search_value);
                            }
                        });
                    </script>
                    <input type="hidden" id="query_id" name="query" value="<%= query %>">
                <div class="btn-group">
                    <button type="button" class="btn btn-teal waves-light waves-effect">Địa điểm</button>
                    <button type="button" class="btn btn-teal waves-light waves-effect" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="ti-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <% locations.forEach(function(location, index){ %>
                        <a class="dropdown-item"
                            href="/admin/product-location/<%= location.id %>"><%= location.location_name %></a>
                        <% }); %>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-teal waves-light waves-effect">Danh mục</button>
                    <button type="button" class="btn btn-teal waves-light waves-effect" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <i class="ti-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <% categories.forEach(function(category, index){ %>
                        <a class="dropdown-item"
                            href="/admin/product-category/<%= category.id %>"><%= category.category_name %></a>
                        <% }); %>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-teal waves-light waves-effect">Sắp xếp</button>
                    <button type="button"
                        class="btn btn-teal waves-light waves-effect dropdown-toggle dropdown-toggle-split"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti-angle-down"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/admin/products">Thứ tự Tăng dần</a>
                        <a class="dropdown-item" href="/admin/products/giam-dan">Thứ tự Giảm dần</a>
                    </div>
                </div>
                <div class="ml-3 btn-group">
                    <a href='/admin/products/add-product' class="btn btn-teal waves-light waves-effect"
                        title="<%= title %>">Thêm sản
                        phẩm <i class="icofont icofont-plus"></i></a>
                </div>
            </div>
            <div class="table-responsive mb-0 fixed-solution">
                <table id="datatable-fixed-col" class="table table-striped table-bordered dt-responsive nowrap"
                    style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ảnh sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Giá</th>
                            <th>Trạng thái</th>
                            <th>Số lượng</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="product_table">
                        <% products.forEach(function(product, index){ %>
                        <tr class="item_tr">
                            <td scope="row"><%= product.id %></th>
                                <% if(product.image.length > 0){ %>
                            <th class="product-image">
                                <img class="sp_img-<%= product.id%>"
                                    src="/public/uploads/products/<%=JSON.parse(product.image)[0] %>" alt="">
                                <p class="mt-2"> <span class="label label-primary">Mã SP:</span>&nbsp;<%= product.sku %>
                                </p>
                                </td>
                                <% } else{ %>
                            <td class="product-image">
                                <img class="sp_img-<%= product.id%>" src="/public/admin/images/example.png" alt="">
                                <p class="mt-2"><span class="label label-primary sku-label">Mã
                                        SP:</span>&nbsp;<%= product.sku %>
                                </p>
                            </td>
                            <% } %>
                            <td class="font-weight-bold">
                                <p class="text-break"> <%= product.name %> </p>
                            </td>
                            <td class="price-show"> <span class="product-price"> <%= product.price %>
                                </span> <sup> VNĐ </sup>
                            </td>
                            <td>
                                <span
                                    class="text-center <%= product.stock === 1 ? 'badge badge-success' : 'badge badge-warning' %> ">
                                    <%= product.stock === 1 ? 'Còn hàng' : 'Hết hàng' %> </span>
                            </td>
                            <td> <%= product.quantity %> </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/admin/product/edit-product/<%= product.id %>" type="button"
                                        class="btn hor-grd btn-grd-warning " title="Sửa sản phẩm">
                                        <i class="icofont icofont-edit"></i> </a>
                                    <a href="#slide-delete-modal" type="button"
                                        class="delete-product-confirm btn hor-grd btn-grd-danger"
                                        data-url="/admin/product/delete-product/<%= product.id %>" title="Xóa slide"
                                        data-target="#slide-delete-modal" data-toggle="modal"> <i
                                            class="icofont icofont-ui-delete" title="Xóa sản phẩm"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                    <tbody id="product_table_search">
                    </tbody>
                </table>
            </div>
            <button class="buttonload">
                <i class="fa fa-spinner fa-spin"></i>Tải thêm...
            </button>
        </div>
    </div>
</div>
<!-- end row -->
</div>
<!-- end container-fluid -->
<script>
    $('.delete-product-confirm').on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        $('#delete-slide-link').attr('href', url);
    });
    var product_table = $('#product_table');
    var trItem = function (value, index) {
        return `<tr>
    <td scope="row">${value.id}</th>
    <th class="product-image">
        <img class="sp_img"
            src="/public/uploads/products/${JSON.parse(value.image)[0]}" alt="">
        <p class="mt-2"><span
                class="label label-primary">Sku:</span>&nbsp;${value.sku}</p>
        </td>
    <td class="font-weight-bold">
        <p class="text-break"> ${value.name} </p>
    </td>
    <td class="price-show"> <span class="product-price"> ${value.price}
        </span> <sup> VNĐ </sup>
    </td>
    <td>
        <label class="label text-center ${value.stock === 1 ? 'label-success' : 'label-warning'}">
            ${value.stock === 1 ? 'Còn hàng' : 'Hết hàng'}
        </label>
    </td>
    <td> ${value.quantity} </td>
    <td>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="/admin/product/edit-product/${value.id}" type="button"
                class="btn hor-grd btn-grd-warning " title="Sửa sản phẩm">
                <i class="icofont icofont-edit"></i> </a>
            <a href="/admin/product/delete-product/${value.id}" type="button"
                class="btn hor-grd btn-grd-danger "> <i class="icofont icofont-ui-delete"
                    title="Xóa sản phẩm"></i>
            </a>
        </div>
    </td>
</tr>`;
    }
    $(function () {
        const footer = document.querySelector('#footer');
        var page = 2;
        var query = $('#query_id').val();
        var data = {};
        data.query = query;
        let callback = (entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    $.ajax({
                        url: '/admin/product/get-more/' + page,
                        type: 'POST',
                        cache: false,
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        processData: false,
                        success: function (result) {
                            page++;
                            if (result.products.length > 0) {
                                setTimeout(function () {
                                    result.products.forEach((value, index) => {
                                        product_table.append(trItem(value, index));
                                    });
                                }, 2000);
                            }
                            if (result.products.length == 0) {
                                $('.buttonload').css('display', 'none');
                            }
                        },
                        error: function (error) {
                            notify(error, 'danger');
                        }
                    });
                }
            });
        };
        let observer = new IntersectionObserver(callback);
        observer.observe(footer);
    });
</script>

<%- include("../modal/slide-delete-modal.ejs") %>