<!--=================================
News, tips & articles -->
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2 class="wow fadeInDown" data-wow-delay="0.5" data-wow-duration="2s">Tin tức mới nhất</h2>
          <p class="wow fadeInUp" data-wow-delay="0.5" data-wow-duration="1s">Cập nhật thông tin bổ ích cho các nhà đầu tư thông thái</p>
        </div>
      </div>
    </div>
    <div class="row">
      <% newBlogs.forEach((newBlog) => { %>
      <div class="col-lg-4">
        <div class="blog-post">
          <div class="blog-post-image">
            <img class="img-fluid" src="/public/uploads/blogs/<%= newBlog.image %>" alt="">
          </div>
          <div class="blog-post-content">
            <div class="blog-post-details">
              <div class="blog-post-category">
                <a class="mb-3" href="/blog/blog-category/<%= newBlog.blog_category_slug %>.<%= newBlog.category_id %>"
                  title="<%= newBlog.blog_category_name %>"><strong><%= newBlog.blog_category_name %></strong></a>
              </div>
              <div class="blog-post-title">
                <h5><a href="/blog/<%= newBlog.slug %>.<%= newBlog.id %>"
                  title="<%= newBlog.title %>"><%= newBlog.title %></a></h5>
              </div>
              <div class="blog-post-description">
                <p class="mb-0"><%= newBlog.short_description %></p>
              </div>
              <a class="btn btn-link mt-3 p-0" href="/blog/<%= newBlog.slug %>.<%= newBlog.id %>"
                title="<%= newBlog.title %>">
                Đọc thêm</a>
            </div>
            <div class="blog-post-footer">
              <div class="blog-post-time">
                <span> <i class="far fa-clock"></i><%= newBlog.create_at %></span>
              </div>
              <div class="blog-post-author">
                <span> <%= newBlog.author %> </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<!--=================================
News, tips & articles -->