<!--=================================
 offering the Best Real Estate-->
<section class="clearfix">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Dự án mới nhất</h2>
          <p>Đón xem và đừng bỏ lỡ các dự án mới nhất của BĐS Đất vàng</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="owl-carousel owl-nav-top-right" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1"
          data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
          <% projects.forEach((project) => { %>
          <div class="item">
            <div class="property-offer">
              <div class="property-offer-item">
                <% if(project.project_image.length > 0){ %>
                  <div class="property-offer-image bg-holder"
                  style="background: url('/public/uploads/projects/<%=JSON.parse(project.project_image)[0] %>');">
                  <% } else{ %>
                    <div class="property-offer-image bg-holder"
                  style="background: url('/public/datvangphanthiet/images/property/big-img-01.jpg');">
                  <% } %>
                  <div class="row">
                    <div class="col-lg-6 col-md-10 col-sm-12">
                      <div class="property-details">
                        <div class="property-details-inner">
                          <h5 class="property-title"><a href="/du-an/<%= project.project_slug %>.<%= project.id %>"
                              title="<%= project.project_name %>"><%= project.project_name %></a></h5>
                          <div class="property-price"><%= project.project_price %><span>vnđ</span> </div>
                          <div class="blog-post-description">
                            <p class="mb-0"> <%- project.project_description %>  </p>
                          </div>
                        </div>
                        <div class="property-btn">
                          <a class="property-link" href="/du-an/<%= project.project_slug %>.<%= project.id %>" title="<%= project.project_name %>"> Xem chi tiết </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
  offering the Best Real Estate-->