<!--=================================
Browse properties -->
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Tìm kiếm theo địa điểm</h2>
          <p>Tìm kiếm bất động sản mà bạn muốn !</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="category">
          <ul class="list-unstyled mb-0">
            <% locations.forEach((location) => { %>
            <li class="category-item">
              <a href="/san-pham/dia-diem/<%= location.location_slug %>.<%= location.id %>"
                title="<%= location.loction_name %>">
                <div class="category-icon">
                  <%- location.location_icon %>
                </div>
                <h6 class="mb-0"><%= location.location_name %></h6>
              </a>
            </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
 Browse properties -->