<% extend("../../datvangphanthiet") %>
<!--=================================
breadcrumb -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/"> <i class="fas fa-home"></i> </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> <%= title %> </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
  breadcrumb -->

<!--=================================
  Listing – grid view -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="section-title mb-3 mb-lg-4">
          <h2><span class="text-primary"><%= title %></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 mb-5 mb-lg-0">
        <div class="sidebar">
          <div class="widget">
            <div class="widget-title widget-collapse">
              <h6>Tìm kiếm nâng cao</h6>
              <a class="ml-auto" data-toggle="collapse" href="#filter-property" role="button" aria-expanded="false"
                aria-controls="filter-property"> <i class="fas fa-chevron-down"></i> </a>
            </div>
            <div class="collapse show" id="filter-property">
              <form class="mt-3">
                <div class="input-group mb-2 select-border">
                  <select class="form-control basic-select">
                    <option>Tất cả</option>
                    <option>Căn hộ</option>
                    <option>Đất</option>
                    <option>Nhà</option>
                    <option>Mặt bằng</option>
                  </select>
                </div>
                <div class="input-group mb-2 select-border">
                  <select class="form-control basic-select">
                    <option>Cũ nhất</option>
                    <option>Mới nhất</option>
                  </select>
                </div>
                <div class="input-group mb-2">
                  <button class="btn btn-primary btn-block align-items-center" type="submit"><i
                      class="fas fa-filter mr-1"></i><span>Lọc</span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="widget">
            <div class="widget-title widget-collapse">
              <h6>Vị trí BĐS</h6>
              <a class="ml-auto" data-toggle="collapse" href="#type-property" role="button" aria-expanded="false"
                aria-controls="type-property"> <i class="fas fa-chevron-down"></i> </a>
            </div>
            <div class="collapse show" id="type-property">
              <ul class="list-unstyled mb-0 pt-3">
                <% locations.forEach((location) => { %>
                <li><a href="/san-pham/dia-diem/<%= location.location_slug %>.<%= location.id %>"
                    title="<%= location.loction_name %>"><%= location.location_name %><span
                      class="ml-auto"><%- location.location_icon %></span></a></li>
                <% }); %>
              </ul>
            </div>
          </div>
          <div class="widget">
            <div class="widget-title widget-collapse">
              <h6>Vị trí địa lý</h6>
              <a class="ml-auto" data-toggle="collapse" href="#type-property" role="button" aria-expanded="false"
                aria-controls="type-property"> <i class="fas fa-chevron-down"></i> </a>
            </div>
            <div class="collapse show" id="type-property">
              <ul class="list-unstyled mb-0 pt-3">
                <li><a href="#">Phan thiết<span class="ml-auto">(12)</span></a></li>
                <li><a href="#">Phong Nẫm<span class="ml-auto">(45)</span></a></li>
                <li><a href="#">Hàm Thắng<span class="ml-auto">(23)</span></a></li>
                <li><a href="#">Bắc Phan thiết<span class="ml-auto">(05)</span></a></li>
                <li><a href="#">Nam Phan Thiết<span class="ml-auto">(47)</span></a></li>
                <li><a href="#">Lagi<span class="ml-auto">(32)</span></a></li>
              </ul>
            </div>
          </div>
          <div class="widget">
            <div class="widget-title">
              <h6>BĐS mới nhất</h6>
            </div>
            <% newproducts.forEach((newproduct) => { %>
            <div class="recent-list-item">
              <% if(newproduct.image.length > 0){ %>
              <img class="img-fluid" src="/public/uploads/products/<%=JSON.parse(newproduct.image)[0] %>" alt="">
              <% } else{ %>
              <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
              <% } %>
              <div class="recent-list-item-info">
                <a class="address mb-2" href="/san-pham/<%= newproduct.slug %>.<%= newproduct.id %>"
                  title="<%= newproduct.name %>"><%= newproduct.name %></a>
                <span class="text-primary"><%= newproduct.price %>vnđ</span>
              </div>
            </div>
            <%})%>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="property-filter d-sm-flex">
          <div class="widget">
            <div class="search">
              <i class="fas fa-search"></i>
              <input id="searchInput" type="text" class="form-control" placeholder="Tìm kiếm...">
            </div>
          </div>
        </div>
        <div class="row mt-4" id="products_search_main">
          <% if(products.length > 0){ %>
          <% products.forEach((product) => { %>
          <div class="col-sm-6 col-md-6">
            <div class="property-item">
              <div class="property-image bg-overlay-gradient-04">
                <% if(product.image.length > 0){ %>
                <img class="img-fluid" src="/public/uploads/products/<%=JSON.parse(product.image)[0] %>" alt="">
                <% } else{ %>
                <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
                <% } %>
                <div class="property-lable">
                  <span class="badge badge-md badge-primary"><%= product.category_name %></span>
                  <span class="badge badge-md badge-info"> <%= product.sku %> </span>
                </div>
                <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>
              </div>
              <div class="property-details">
                <div class="property-details-inner">
                  <h5 class="property-title"><a href="/san-pham/<%= product.slug %>.<%= product.id %>"
                    title="<%= product.name %>"><%= product.name %></a>
                  </h5>
                  <span class="property-address"><i
                      class="fas fa-map-marker-alt fa-xs"></i><%= product.address %></span>
                  <span class="property-agent-date"><i class="far fa-clock fa-md"></i><%= product.create_at %></span>
                  <div class="property-price"><%= product.price %><span> vnđ</span> </div>
                  <ul class="property-info list-unstyled">
                    <li class="flex-fill property-bed"><i class="fa fa-eye"
                        aria-hidden="true"></i><span><%= product.view %></span></li>
                    <li class="flex-fill property-bath"><i
                        class="fas fa-map-marker-alt fa-xs"></i><span><%= product.address %></span></li>
                    <li class="flex-fill property-m-sqft"><i
                        class="far fa-square"></i><span><%= product.square %></span></li>
                  </ul>
                </div>
                <div class="property-btn">
                  <a class="property-link" href="/san-pham/<%= product.slug %>.<%= product.id %>"
                    title="<%= product.name %>">Xem chi tiết</a>
                </div>
              </div>
            </div>
          </div>
          <%  }) %>
          <%}else{ %>
          <div class="col-md-12">
            <span class="badge badge-primary">Chưa có sản phẩm bạn tìm kiếm !</span>
          </div>
          <%} %>
        </div>
        <div class="row mt-4" id="products_search"></div>
        <input hidden value="<%= query %>" class="query" id="query_id"></input>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary buttonload" id="loaddata">
              <div class="load-wrapp">
                <div class="load-3">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
  Listing – grid view -->

<!--=================================
  newsletter -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Sign up to our newsletter to get the latest news and offers.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form>
            <div class="form-group mb-0">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-dark b-radius-left-none">Get notified</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
  newsletter -->
<script>

  var product_table = $('#product_table');
  var trItem = function (value, index) {
    return `<div class="col-6 col-sm-6 col-md-4">
    <div class="soph__it">
        <div class="soph__img">
            <a href="/xe-dap/${value.slug}.${value.id}" title="${value.name}">
                <img src="/public/uploads/products/${JSON.parse(value.image)[0]}" alt="${value.name}">
            </a>
        </div>
        <div class="soph__ct">
            <span class="badge badge-info mb-3">SKU : PD20203</span>
            <h3 class="soph__tt ut_bold"> <a href="/xe-dap/${value.slug}.${value.id}">${value.name}</a>
            </h3>
            <p class="line-clamp">${value.short_description}</p>
            <div class="soph-box d-flex">
                <div class="price ut_bold text-secondary">${value.price}<sup>đ</sup>
                </div>
                <span class="status text-right"><i class="icofont-cube"></i> còn
                    (${value.quantity})
                </span>
            </div>
        </div>
    </div>
</div>`;
  }
  $(function () {
    const footer = document.querySelector('#loaddata');
    var page = 2;
    var query = $('#query_id').val();
    var data = {};
    data.query = query;
    let callback = (entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          $.ajax({
            url: '/san-pham/get-more/' + page,
            type: 'POST',
            cache: false,
            data: JSON.stringify(data),
            contentType: 'application/json',
            processData: false,
            success: function (result) {
              page++;
              console.log(result.products)
              if (result.products.length > 0) {
                setTimeout(function () {
                  result.products.forEach((value, index) => {
                    product_table.append(trItem(value, index));
                    entry.target.src = entry.target.dataset.src;
                    observer.unobserve(entry.target);
                  });
                }, 1500);
              }
              if (result.products.length == 0) {
                $('.buttonload').css('display', 'none');
              }
            },
            error: function (error) {
              console.log(error);
            }
          });
        }
      });
    };

    let observer = new IntersectionObserver(callback);
    observer.observe(footer);

    document.querySelectorAll('img').forEach(img => { observer.observe(img) });

  });
</script>