<% extend("../../datvangphanthiet") %>
<!--=================================
Breadcrumb -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="index.html"> <i class="fas fa-home"></i> </a></li>
          <li class="breadcrumb-item"> <i class="fas fa-chevron-right"></i> <a href="/san-pham">Bất động sản</a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> <%= product.name %> </span>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
Breadcrumb -->
<div class="wrapper">
  <!--=================================
  Property details -->
  <section class="space-pt">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0 order-lg-2">
          <div class="sticky-top">
            <div class="mb-4">
              <h3><%= product.name %></h3>
              <span class="d-block mb-3"><i class="fas fa-map-marker-alt fa-xs pr-2"></i><%= product.address %></span>
              <span class="price font-xll text-primary d-block"><%= product.price %></span>
              <span class="sub-price font-lg text-dark d-block"><b><%= product.square %></b> </span>
            </div>
            <div class="agent-contact">
              <div class="d-flex align-items-center p-4 border border-bottom-0">
                <div class="agent-contact-avatar mr-3">
                  <img class="img-fluid rounded-circle avatar avatar-xl"
                    src="/public/uploads/auth/<%= userInfo.avatar %>" alt="">
                </div>
                <div class="agent-contact-name">
                  <h6><%= userInfo.name %></h6>
                  <span>Giám đốc</span>
                  <span class="d-block"><i class="fas fa-phone-volume pr-2 mt-2"></i><%= userInfo.phone %></span>
                </div>
              </div>
              <div class="d-flex">
                <a href="<%= userInfo.facebook %>" class="btn btn-primary col ml-0 b-radius-none">facebook</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 order-lg-1">
          <div class="property-detail-img popup-gallery">
            <div class="owl-carousel" data-animateOut="fadeOut" data-nav-arrow="true" data-items="1" data-md-items="1"
              data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
              <% if(imagearr.length > 0){ %>
              <% for (var i = 0; i < imagearr.length ; i++ ) { %>
              <div class="item">
                <img class="img-fluid" src="/public/uploads/products/<%= images[imagearr[i]] %>" alt="">
              </div>
              <% } %>
              <% }else{ %>
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="alert alert-info" role="alert">
                  Chưa có hình ảnh !
                </div>
              </div>
              <% } %>
            </div>
          </div>
          <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
          <div class="property-description">
            <div class="row">
              <div class="col-sm-3 mb-3 mb-sm-0">
                <h5>Mô tả</h5>
              </div>
              <div class="col-sm-9">
                <p>
                  <%- product.description %>
                </p>
              </div>
            </div>
          </div>
          <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
          <div class="property-features">
            <div class="row">
              <div class="col-sm-3 mb-3 mb-sm-0">
                <h5>Chi tiết</h5>
              </div>
              <div class="col-sm-9">
                <%- product.description_details %>
              </div>
            </div>
          </div>
          <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
          <div class="property-address">
            <div class="row">
              <div class="col-sm-3 mb-3 mb-sm-0">
                <h5>Đia chỉ</h5>
              </div>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <ul class="property-list list-unstyled mb-0">
                      <li><b>Địa chỉ:</b> <%= product.address %> </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr class="mt-4 mb-4 mb-sm-5 mt-sm-5">
          <div class="property-schedule">
            <div class="row">
              <div class="col-sm-3 mb-3 mb-sm-0">
                <h5>Đặt lịch tham quan</h5>
              </div>
              <div class="col-sm-9">
                <form action="/lien-he/send-mail" id="contact_form" method="post" class="has-validation-callback">
                  <div class="form-row">
                    <div class="form-group col-sm-12">
                      <input type="text" name="customer_name" class="form-control" placeholder="Họ và tên">
                    </div>
                    <div class="form-group col-sm-12">
                      <input type="email" name="customer_email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-sm-12">
                      <input type="Text" name="customer_phone" class="form-control" placeholder="Điện thoại">
                    </div>
                    <div class="form-group col-sm-12">
                      <textarea name="customer_content" class="form-control" rows="4" placeholder="Lời nhắn"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                      <button type="submit" class="btn btn-primary">Đăng ký</button>
                    </div>
                    <div class="col-sm-6"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</section>
<section class="space-pt">
  <div class="container">
    <hr class="mb-5 mt-0">
    <h5 class="mb-4">BĐS tương tự</h5>
    <div class="row">
      <% relateProducts.forEach((relateProduct) => { %>
      <div class="col-sm-6 col-md-4">
        <div class="property-item wow fadeInUp" data-wow-delay="0.5" data-wow-duration="2s">
          <div class="property-image bg-overlay-gradient-04">
            <% if(relateProduct.image.length > 0){ %>
            <img class="img-fluid" src="/public/uploads/products/<%=JSON.parse(relateProduct.image)[0] %>" alt="">
            <% } else{ %>
            <img class="img-fluid" src="https://via.placeholder.com/500x300" alt="">
            <% } %> <div class="property-lable">
              <span class="badge badge-md badge-info"><%= relateProduct.sku %></span>
            </div>
            <span class="property-trending" title="trending"><i class="fas fa-bolt"></i></span>
          </div>
          <div class="property-details wow fadeInDown" data-wow-delay="0.5" data-wow-duration="2s">
            <div class="property-details-inner">
              <h5 class="property-title"><a href="/san-pham/<%= relateProduct.slug %>.<%= relateProduct.id %>"
                  title="<%= product.name %>"><%= relateProduct.name %></a>
              </h5>
              <span class="property-address"><i
                  class="fas fa-map-marker-alt fa-xs"></i><%= relateProduct.address %></span>
              <span class="property-agent-date"><i class="far fa-clock fa-md"></i><%= relateProduct.create_at %></span>
              <div class="property-price"><%= relateProduct.price %><span>vnđ</span> </div>
              <ul class="property-info list-unstyled">
                <li class="flex-fill property-bed"><i class="fas fa-bed"></i><span><%= relateProduct.view %></span></li>
                <li class="flex-fill property-bath"><i class="fas fa-bath"></i><span><%= relateProduct.address %></span>
                </li>
                <li class="flex-fill property-m-sqft"><i
                    class="far fa-square"></i><span><%= relateProduct.square %></span></li>
              </ul>
            </div>
            <div class="property-btn">
              <a class="property-link" href="/san-pham/<%= relateProduct.slug %>.<%= relateProduct.id %>"
                title="<%= product.name %>">Xem chi tiết</a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</section>
<!--=================================
  Property details -->



<!--=================================
newsletter -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Đăng Ký Bản Tin Của Chúng Tôi Để Nhận Các Tin Tức Và Ưu Đãi Mới Nhất.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form action="/lien-he/send-mail" id="contact_form" method="post" class="has-validation-callback">
            <div class="form-group mb-0">
              <input type="email" name="customer_email" class="form-control" required placeholder="Nhập Email của bạn">
            </div>
            <button type="button" id="sendmailSubmit" class="btn aloha btn-dark b-radius-left-none">Nhận thông
              báo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
newsletter -->