<% extend("../../../admin.ejs") %>
<!-- Start Content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/admin">utadmin</a></li>
                        <li class="breadcrumb-item"><a href="/admin/blog">Tin tức</a></li>
                        <li class="breadcrumb-item active"><%= title %></li>
                    </ol>
                </div>
                <h4 class="page-title"><%= title %></h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <% if(errors != ""){%>
                <% errors.forEach((item) => {%>
                <script>toastr.error('<%- item %>', 'Gặp lỗi !')</script>
                <%})%>
                <%}%>
                <% if(success != ""){%>
                <% success.forEach((item) => {%>
                <script>
                    toastr.success('<%- item %>', 'Thành công !')
                </script>
                <%})%>
                <%}%>
                <form id="blog-edit-form" action="/admin/blog/edit-blog/<%= blog.id %>" method="POST"
                enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-group text-center">
                            <div class="image-border">
                                <% if(blog.image != '' && blog.image != null){ %>
                                <img class="sp_img_main" src="/public/uploads/blogs/<%= blog.image %>"
                                    alt="<%= blog.title %>">
                                <input type="hidden" name="blog_old_image" value="<%= blog.image %>">
                                <% } else{ %>
                                <img class="sp_img_main" src="/admin/images/example.png" alt="<%= blog.name %>">
                                <% } %>
                                <button id="trigger_button" class="btn btn-success btn-grd-primary mt-4">Chọn
                                    hình ảnh...</button>
                                <input type="file" id="blog_image" name="blog_image" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="blog_content">
                                Mô tả <span class="text-danger">*</span>
                            </label>
                            <textarea id="summernote" id="blog_content"
                                name="blog_content"> <%= blog.content %> </textarea>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="blog_title">
                                Tiêu đề<span class="text-danger">*</span>
                            </label>
                            <textarea type="text" name="blog_title" id="blog_title" onkeyup="to_slug($(this).val())"
                                class="form-control" placeholder="Tên <%= blog.title %>"
                                required> <%= blog.title %> </textarea>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="blog_slug">
                                SLug
                            </label>
                            <input type="text" name="blog_slug" id="blog_slug" class="form-control" placeholder="Slug"
                                value="<%= blog.slug %>" readonly required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="blog_category">Loại tin tức<span
                                    class="text-danger">*</span></label>
                            <select id="blog_category" name="blog_category" class="form-control" required="">
                                <option disabled checked value="">Chọn loại tin tức..</option>
                                <% blog_categories.forEach(function(blog_category){ %>
                                <option value="<%= blog_category.id%>"><%= blog_category.blog_category_name %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="short_description">
                                Tác giả </label>
                            <input type="text" name="blog_author" id="blog_author" class="form-control"
                                value="<%= blog.author %>" placeholder="Tác giả">
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="short_description">
                                Mô tả ngắn<span class="text-danger">*</span> </label>
                            <textarea type="text" name="short_description" id="short_description" class="form-control"
                                rows="4" placeholder="Mô tả ngắn" required> <%= blog.short_description %> </textarea>
                        </div>
                        <script>
                            function to_slug(str) {
                                // Chuyển hết sang chữ thường
                                str = str.toLowerCase();
                                // xóa dấu
                                str = str.replace(/(à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ)/g, 'a');
                                str = str.replace(/(è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ)/g, 'e');
                                str = str.replace(/(ì|í|ị|ỉ|ĩ)/g, 'i');
                                str = str.replace(/(ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ)/g, 'o');
                                str = str.replace(/(ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ)/g, 'u');
                                str = str.replace(/(ỳ|ý|ỵ|ỷ|ỹ)/g, 'y');
                                str = str.replace(/(đ)/g, 'd');

                                // Xóa ký tự đặc biệt
                                str = str.replace(/([^0-9a-z-\s])/g, '');

                                // Xóa khoảng trắng thay bằng ký tự -
                                str = str.replace(/(\s+)/g, '-');

                                // xóa phần dự - ở đầu
                                str = str.replace(/^-+/g, '');

                                // xóa phần dư - ở cuối
                                str = str.replace(/-+$/g, '');
                                document.getElementById('blog_slug').value = str;
                                // return
                                return str;
                            }
                        </script>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-3">Lưu lại</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        // chọn hình ảnh thay thế cho thương hiệu ============ start
        $('#blog_image').hide();
        $("#trigger_button").click(function (e) {
            e.preventDefault()
            $("#blog_image").trigger('click');
        });
        function getBrandAvatarUpdate() {
            $('#blog_image').bind('change', function () {
                let fileData = $(this)[0].files[0];
                let math = ["image/png", "image/jpg", "image/jpeg", "image/webp"];
                let limit = 1048576; // 1 mb
                // hàm inArray là dùng để check dữ liệu coi có trùng hay không.
                if ($.inArray(fileData.type, math) === -1) {
                    notify('Kiểu ảnh không hợp lệ, chỉ chấp nhận kiểu jpg hoặc png', 'danger');
                    $(this).val(null);
                    return false;
                }
                if (fileData.size > limit) {
                    notify('Dung lượng ảnh quá lớn', 'danger');
                    $(this).val(null);
                    return false;
                }
                // kiểm tra xem trình duyệt có hỗ trợ file reader hay không
                if (typeof (FileReader) != 'undefine') {
                    var fileReader = new FileReader();
                    // hình ảnh preview sau khi chọn file;
                    var image_preview = $('.sp_img_main');
                    fileReader.onload = function (element) {
                        image_preview.attr('src', element.target.result);
                    }
                    fileReader.readAsDataURL(fileData);
                }
            })
        }
        getBrandAvatarUpdate();
        // chọn hình ảnh thay thế cho thương hiệu ============ end

        // validate form edit attribute  start=======
        $("#blog-edit-form").validate({
            rules: {
                blog_image: {
                    required: true,
                },
                blog_title: {
                    required: true,
                },
                blog_category: {
                    required: true,
                },
                blog_slug: {
                    required: true
                },
                short_description: {
                    required: true
                },
                blog_content: {
                    required: true
                },
            },
            messages: {
                blog_image: {
                    required: 'Bạn chưa chọn ảnh cho slide',
                },
                blog_title: {
                    required: "Vui lòng nhập tiêu đề cho bài viết",
                },
                blog_category: {
                    required: "Vui lòng chọn danh mục cho bài viết"
                },
                blog_slug: {
                    required: "Vui lòng nhập đường dẫn cho slide"
                },
                short_description: {
                    required: "Vui lòng nhập mô tả ngắn"
                },
                blog_content: {
                    required: "Vui lòng nhập nội dung bài viết"
                },
            }
        });
        // validate form edit attribute end=======


    });
</script>
</script>
<%- include("../../modal/attribute-value-delete-modal.ejs") %>