<% extend("../../datvangphanthiet") %>
<!--=================================
breadcrumb -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/" title="Trang chủ"> <i class="fas fa-home"></i></a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Giới thiệu </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
breadcrumb -->

<!--=================================
about -->
<section class="space-ptb bg-holder" style="background-image: url(/public/datvangphanthiet/images/pattern-bg.jpg);">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-lg-9">
        <div class="text-center">
          <h1 class="text-primary mb-4">Chúng tôi đang thay đổi ngành bất động sản với sự cầu tiến và đam mê.</h1>
          <p class="px-sm-5 mb-4 lead font-weight-normal">Chúng tôi cố gắng trở thành cơ quan bất động sản tự quản hàng
            đầu tại các địa điểm mà chúng tôi bao phủ, cung cấp dịch vụ hoàn toàn cá nhân và tận tâm.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-9">
        <div class="section-title mb-0">
          <h2>Lý do nên chọn Đất Vàng Phan Thiết</h2>
          <p>Đại lý của chúng tôi có nhiều lĩnh vực chuyên môn, nhưng KHÁCH HÀNG là chuyên môn thực sự của chúng tôi.
          </p>
        </div>
      </div>
    </div>
    <div class="row no-gutters mt-4">
      <% company_features.forEach(function(company_features){ %>
      <div class="col-lg-3 col-sm-6">
        <div class="feature-info h-100">
          <div class="feature-info-icon">
            <%- company_features.icon %>
          </div>
          <div class="feature-info-content">
            <h6 class="mb-3 feature-info-title"><%= company_features.title %></h6>
            <p class="mb-0"><%= company_features.feature_describe %></p>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<!--=================================
about -->

<!--=================================
testimonial -->
<section class="testimonial-main bg-holder" style="background-image: url(/public/datvangphanthiet/images/bg/02.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="owl-carousel owl-dots-bottom-left" data-nav-dots="true" data-items="1" data-md-items="1"
          data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0">
          <% customers.forEach(function(customer){ %>
          <div class="item">
            <div class="testimonial">
              <div class="testimonial-content">
                <p><i class="quotes">"</i><%= customer.customer_evaluate %></p>
              </div>
              <div class="testimonial-name">
                <h6 class="text-primary mb-1"><%= customer.customer_name %></h6>
                <span><%= customer.customer_career %></span>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
testimonial -->

<!--=================================
counter -->
<section class="space-pt">
  <div class="container">
    <div class="border p-4">
      <div class="row">
        <div class="col-sm-3">
          <div class="counter counter-02 mb-4 mb-sm-0">
            <div class="counter-icon">
              <span class="pt-1 icon fab flaticon-placeholder"></span>
            </div>
            <div class="counter-content">
              <span class="timer mb-1" data-to="4561" data-speed="10000">4561</span>
              <label class="mb-0">Địa điểm</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counter counter-02 mb-4 mb-sm-0">
            <div class="counter-icon">
              <span class="pt-1 icon fab flaticon-for-rent-1"></span>
            </div>
            <div class="counter-content">
              <span class="timer mb-1" data-to="120" data-speed="10000">120</span>
              <label class="mb-0">Mặt bằng cho thuê</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counter counter-02 mb-4 mb-sm-0">
            <div class="counter-icon">
              <span class="pt-1 icon fab flaticon-house-5"></span>
            </div>
            <div class="counter-content">
              <span class="timer mb-1" data-to="200" data-speed="600">200</span>
              <label class="mb-0">Đất đã bán</label>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counter counter-02 mb-4 mb-sm-0">
            <div class="counter-icon">
              <span class="pt-1 icon fab flaticon-agent"></span>
            </div>
            <div class="counter-content">
              <span class="timer mb-1" data-to="140" data-speed="10000">140</span>
              <label class="mb-0">Nhà đầu tư</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
counter -->

  <!--=================================
Meet our agent -->
<section class="space-ptb">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Đội Ngũ Nhân Viên</h2>
          <p>Đất vàng Thực sự là những người ủng hộ khách hàng. Chúng tôi có trách nhiệm giúp khách hàng mua và bán quyền
            tại nhà, đúng giá.</p>
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <% staffs.forEach((staff) => { %>
      <div class="col-lg-3 col-sm-6 mb-4 mb-sm-0">
        <div class="agent text-center">
          <div class="agent-detail">
            <div class="agent-avatar avatar avatar-xllll">
              <img class="img-fluid rounded-circle" src="/public/uploads/staffs/<%= staff.staff_avatar %>" alt="">
            </div>
            <div class="agent-info">
              <h6 class="mb-0"><%= staff.staff_name %></h6>
              <span class="text-primary font-sm"><%= staff.staff_position %></span>
              <p class="mt-3 mb-0"><%= staff.staff_slogan %></p>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>
<!--=================================
Meet our agent -->

<!--=================================
newsletter -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Đăng Ký Bản Tin Của Chúng Tôi Để Nhận Các Tin Tức Và Ưu Đãi Mới Nhất.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form>
            <div class="form-group mb-0">
              <input type="email" class="form-control" placeholder="Nhập Email của bạn">
            </div>
            <button type="submit" class="btn btn-dark b-radius-left-none">Nhận thông báo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
newsletter -->