<!DOCTYPE html>
<html lang="en">

<head>
    <title>UT ADMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
        content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="/public/admin/assets/images/favicon.png" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/admin/assets/libs/dropzone/dropzone.min.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/bootstrap.min.css"
        id="bootstrap-stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/libs/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/icons.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/flaticon.css"/>
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/app.min.css" id="app-stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/libs/summernote/summernote-bs4.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/custome_01.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/css/custome.css" />
    <link rel="stylesheet" type="text/css" href="/public/admin/assets/libs/toastr/toastr.min.css" />
    <script type="text/javascript" src="/public/admin/assets/js/vendor.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/js/pages/toastr.init.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/summernote/summernote-bs4.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/currency/simple.money.format.js"></script>

</head>

<body>
    <!-- Pre-loader start -->
    <%- include('./admin/themeloader/themeloader')%>
    <!-- Pre-loader end -->
    <div id="wrapper">
        <!-- Header start -->
        <%- include('./admin/header/header')%>
        <!-- Header end -->
        <div class="pcoded-main-container">
            <div class="pcoded-wrapper">
                <!-- Navbar start -->
                <%- include('./admin/navbar/navbar')%>
                <!-- Navbar end -->
                <div class="content-page">
                    <div class="content">
                        <%- content %>
                    </div>
                    <!-- Footer Start -->
                    <footer class="footer" id="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    2018 - 2020 &copy; Zircos theme by <a href="">UTDESIGN</a>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <!-- end Footer -->
                </div>
            </div>
        </div>
    </div>
    <!-- Model start -->
    <%- include('./admin/modal/profile-modal.ejs')%>

    <script src="https://sp.zalo.me/plugins/sdk.js"></script>
    <!-- template 02 -->
    <script type="text/javascript" src="/public/admin/assets/libs/raphael/raphael.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/js/app.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/dropzone/dropzone.js"></script>
    <script type="text/javascript" src="/public/admin/assets/js/pages/icon.init.js"></script>
    <script type="text/javascript" src="/public/admin/assets/libs/validate/jquery.validate.min.js"></script> -->
    <script type="text/javascript" src="/public/admin/assets/js/global.js"></script>


    <script>
        var $window = $(window);
        var nav = $('.fixed-button');
        $window.scroll(function () {
            if ($window.scrollTop() >= 200) {
                nav.addClass('active');
            }
            else {
                nav.removeClass('active');
            }
        });
    </script>
</body>

</html>