<% extend("../../datvangphanthiet") %>

<!--=================================
breadcrumb -->
<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="/"> <i class="fas fa-home"></i> </a></li>
          <li class="breadcrumb-item active"> <i class="fas fa-chevron-right"></i> <span> Tin tức </span></li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!--=================================
breadcrumb -->

<!--=================================
Blog -->
<section class="space-ptb">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>BĐS Đất vàng</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <% if(blogs[0]){ %>
        <div class="row" id="blogs_search_main">
          <% blogs.forEach((blog) => { %>
          <div class="blog-post col-lg-6 mb-3">
            <div class="blog-post-image">
              <img class="img-fluid" src="/public/uploads/blogs/<%= blog.image %>" alt="">
            </div>
            <div class="blog-post-content">
              <div class="blog-post-details">
                <div class="blog-post-category mb-1">
                  <a class="mb-3"
                    href="/blog/blog-category/<%= blog.blog_category_slug %>.<%= blog.category_id %>"><strong><%= blog.blog_category_name %></strong></a>
                </div>
                <div class="blog-post-title">
                  <h5><a class="line-clamp" href="/blog/<%= blog.slug %>.<%= blog.id %>"
                      title="<%= blog.title %>"><%= blog.title %></a></h5>
                </div>
                <div class="blog-post-description">
                  <p class="mb-0 line-clamp"><%= blog.short_description %></p>
                </div>
                <div class="blog-post-link mt-4">
                  <a class="btn btn-link p-0" href="/blog/<%= blog.slug %>.<%= blog.id %>" title="<%= blog.title %>">
                    Đọc thêm</a>
                </div>
              </div>
              <div class="blog-post-footer">
                <div class="blog-post-time">
                  <span> <i class="far fa-clock"></i><%= blog.create_at %></span>
                </div>
                <div class="blog-post-author">
                  <span> <%= blog.author %></span>
                </div>
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="row" id="blogs_search"></div>
        <% }else{ %>
        <p>Chưa có bài viết nào !</p>
        <% }%>
      </div>
      <div class="col-lg-4 mt-4 mt-lg-0">
        <div class="blog-sidebar">
          <div class="widget">
            <div class="widget-title">
              <h6>Tìm kiếm</h6>
            </div>
            <div class="search">
              <i class="fas fa-search"></i>
              <input type="text" id="searchBlogInput" class="form-control" placeholder="Tìm kiếm bài viết...">
              <input hidden value="<%= query %>" class="query" id="query_id"></input>
            </div>
          </div>
          <div class="widget">
            <div class="widget-title">
              <h6>Giới thiệu về Blog</h6>
            </div>
            <ul class="pl-3">
              <li class="mb-2">Đưa ra quyết định</li>
              <li class="mb-2">Sự rõ ràng - phát triển Tầm nhìn</li>
              <li class="mb-2">Hành động - thực hành Sẵn sàng, Cháy, Nhắm mục tiêu.</li>
            </ul>
          </div>
          <div class="widget">
            <div class="widget-title">
              <h6> Bài đăng gần đây </h6>
            </div>
            <% newblogs.forEach(function(newblog){ %>
            <div class="d-flex mb-3 align-items-top">
              <div class="avatar avatar-xl h-auto">
                <img class="img-fluid" src="/public/uploads/blogs/<%= newblog.image %>" alt="">
              </div>
              <div class="ml-3">
                <a class="text-dark" href="/blog/<%= newblog.slug %>.<%= newblog.id %>"
                  title="<%= newblog.title %>"><b><%= newblog.title %></b></a>
                <span class="d-flex font-sm text-dark"><%= newblog.create_at %></span>
              </div>
            </div>
            <% }); %>
          </div>
          <div class="widget">
            <div class="widget-title">
              <h6>Danh mục bài viết</h6>
            </div>
            <ul class="list-unstyled list-style mb-0">
              <% blog_categories.forEach(function(blog_category){ %>
              <li><a href="/blog/blog-category/<%= blog_category.blog_category_slug %>.<%= blog_category.id %>"
                  title="<%= blog_category.blog_category_name %>"><%= blog_category.blog_category_name %></a>
              </li>
              <% }); %>
            </ul>
          </div>
          <div class="widget">
            <div class="widget-title">
              <h6>Đăng ký và theo dõi Facebook</h6>
            </div>
            <div class="social">
              <ul class="list-unstyled">
                <li class="facebook">
                  <a class="text-uppercase" href="#"> <i class="fab fa-facebook-f mr-3"></i>Facebook</a>
                  <a class="follow ml-auto" href="#">Like </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Blog -->

<!--=================================
newsletter -->
<section class="py-5 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h3 class="text-white mb-0">Đăng Ký Bản Tin Của Chúng Tôi Để Nhận Các Tin Tức Và Ưu Đãi Mới Nhất.</h3>
      </div>
      <div class="col-md-7 mt-3 mt-md-0">
        <div class="newsletter">
          <form action="/lien-he/send-mail" id="contact_form" method="post" class="has-validation-callback">
            <div class="form-group mb-0">
              <input type="email" name="customer_email" class="form-control" required placeholder="Nhập Email của bạn">
            </div>
            <button type="submit" id="sendmailSubmit" class="btn aloha btn-dark b-radius-left-none">Nhận thông
              báo</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
newsletter -->
<script>

  var product_table = $('#blogs_search_main');
  var stringBlogAppendAdvance = function (value, index) {
    return `
        <div class="blog-post col-lg-6 mb-3">
            <div class="blog-post-image">
              <img class="img-fluid" src="/public/uploads/blogs/${value.image}" alt="${value.title}">
            </div>
            <div class="blog-post-content">
              <div class="blog-post-details">
                <div class="blog-post-title">
                  <h5><a class="line-clamp" href="/blog/${value.slug}.${value.id}"
                      title="${value.title}">${value.title}</a></h5>
                </div>
                <div class="blog-post-description">
                  <p class="mb-0 line-clamp">${value.short_description}</p>
                </div>
                <div class="blog-post-link mt-4">
                  <a class="btn btn-link p-0" href="/blog/${value.slug}.${value.id}" title="${value.title}">
                    Đọc thêm</a>
                </div>
              </div>
              <div class="blog-post-footer">
                <div class="blog-post-time">
                  <span> <i class="far fa-clock"></i>${value.time}</span>
                </div>
                <div class="blog-post-author">
                  <span> ${value.author}</span>
                </div>
              </div>
            </div>
          </div>`;
  }
  $(function () {
    const footer = document.querySelector('#loaddata');
    var page = 2;
    var query = $('#query_id').val();
    var data = {};
    data.query = query;
    let callback = (entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          $.ajax({
            url: '/blog/get-more/' + page,
            type: 'POST',
            cache: false,
            data: JSON.stringify(data),
            contentType: 'application/json',
            processData: false,
            success: function (result) {
              console.log(result.products)
              if (result.status == 0) {
                $('.buttonload').css('display', 'none');
              }
              if (result.products) {
                setTimeout(function () {
                  result.products.forEach((value, index) => {
                    product_table.append(stringAppendAdvance(value, index));
                  });
                }, 1500);
                page++;
              }
            },
            error: function (error) {
              console.log(error);
            }
          });
        }
      });
    };
    let observer = new IntersectionObserver(callback);
    observer.observe(footer);
  });
</script>